<section class="products-list">
  @if(products().length === 0){
  <div>No products found</div>
  }@else {
  <div class="product-grid">
    @for (product of products(); track product.id) {
    <div class="product-card" (click)="onSelectProduct(product.id)">
      <img [src]="product.image" [alt]="product.title" class="product-image" />

      <div class="product-info">
        <h3 class="product-title">{{ product.title }}</h3>
        <p class="product-price">{{ product.price | currency }}</p>
        <p class="product-category">{{ product.category }}</p>

        <div class="product-actions">
          <button type="button" (click)="onEditProduct(product.id, $event)">
            Edit
          </button>
          <button type="button" (click)="onDeleteProduct(product.id, $event)">
            Delete
          </button>
        </div>
      </div>
    </div>
    }
  </div>
  }
</section>
