main{
  display: flex;
  justify-content: center; 
  text-size-adjust: 150p;
  font-size: 4vh;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vh;
}
input{
    border:0;
    background-color: aliceblue;
    width: 300px;
    border-bottom: 1px solid black;
}
textarea{
    border: 0;
    background-color: aliceblue;
    width: 300px;
    height: 100%;
    margin-bottom: 10px;
}
button{
    width:300px;
    height: 40px;
    background-color:rgb(63, 255, 143);
    color: white;
    font-size: x-large;
    border-radius: 5px;
}
.statusBar{
    width: 300px;
}
.statusBar select{
    font-size: x-large;
    border:0;
}
.statusBar option{
    font-size: small;
}